@import "Generales/generales";
@import "Generales/variables";
@import "Paginas/Loggin/loggin";
@import "Paginas/Loggin/reutilizables/navbar";
@import "Paginas/Viaticos/index";
@import "Paginas/Firmas/firmas";
@import "Paginas/Administracion/administradorUsuarios";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    

  }

