@import "Generales/generales";
@import "Generales/variables";
@import "Paginas/Loggin/reutilizables/navbar";
@import "Paginas/OficiosRecibidos/modalAgregarNuevo";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    

  }

