
$roboto:'Roboto', sans-serif;
$raleway:'Raleway', sans-serif;

$morado:#676cff;
$verde: #67cfd8;
$verde-gover: #0b818b;
$morado-hover:#575bd6;
$gris:#d8e1e8;
$negro:#989a9d;


$dashboard-dark:#191e38;
$dashboard-light:#1f2c4f;
$gradient-gray:#f1f1f1;

$breakpoint-small-desktop: 768px;